html{
    background-color: black;
    font-family: 'Koulen', sans-serif;
}

body {
    margin: 0;
    padding: 0; 
}

li{
    font-size: x-large;
    border: solid 5px;
    border-color: white;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-family: 'Koulen', sans-serif;
}

nav{
    justify-content: space-between;
    display: flex;
    gap: 25px;
    background-color: black;
}

nav li {
    display: inline-block;
    margin-right: 20px; 
}

main{
    color: white;
    background-color: black;
    display: flex;
    justify-content: right;
}


main div p{
    margin-bottom: 5px;
    margin-left: 5% ;
    font-family: 'Koulen', sans-serif;

}

input{
    display: none;
}


footer{
    text-align: center;
    font-size: 50px;
    background-color: black;
    padding-top: 0.001cm;
    padding-bottom: 0.001cm;
}

.footer-p{
    color: white;
    border: solid 0;
    border-radius: 15px;
    margin-right: 40%;
    margin-left: 40%;
    font-family: 'Koulen', sans-serif;
}

.div-contacto{
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: 'Koulen', sans-serif;
}

.p-contacto{
    margin-top: 10px;
}

.img-email{
    width: 50px;
    height: 50px;
}

.logo img{
    max-width: 301%; 
}

.tamaño-nombre{
    font-size: 100px;
}

.posicion-nombre{
    margin-right: 15%;
    margin-top: 10%;
    font-size: 70px;
}

.tamaño-posicion-presentacion{
    font-size: 40px;
    margin-top: 5px;
    font-family: 'Monomaniac One', sans-serif;
    line-height: 1.1;
    text-align: center;
}

.hover-effect {
    transition: all 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.1);
}

.carousel {
    width: 1000px;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.carousel-container{
    display: flex;
    width: 300%;
    height: 1100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-container img {
    width: 20%;
    height: 20%;
    object-fit: cover;
}

.offcanvas-title{
    font-family: 'Monomaniac One', sans-serif;
    border: 5px solid black;
    border-radius: 3px;
    color: white;
    background-color: black;
}