html{
    background-color: white;
    font-family: 'Koulen', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main{
    color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-family: 'Monomaniac One', sans-serif;
}

nav{
    justify-content: space-between;
    display: flex;
    gap: 25px;
    background-color: black;
}

nav li {
    display: inline-block;
    margin-right: 20px; 
}

body nav div li{
    font-size: x-large;
    border: solid 5px;
    border-color: white;
    border-radius: 15px;
    background-color: white;
    color: black;
    display: inline;
}
.texto-principal{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Monomaniac One', sans-serif;
    margin-top: 5%;
}

input{
    display: none;
}

a{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

footer{
    text-align: center;
    font-size: 50px;
    background-color: black;
    padding-top: 0.001cm;
    padding-bottom: 0.001cm;
}

.footer-p{
    color: white;
    border: solid 0;
    border-radius: 15px;
    margin-right: 40%;
    margin-left: 40%;
    font-family: 'Koulen', sans-serif;
}

.div-contacto{
    display: flex;
    justify-content: center;
    background-color: white;
}

.p-contacto{
    margin-top: 10px;
    font-family: 'Koulen', sans-serif;
}

.img-email{
    width: 50px;
    height: 50px;
}

.logo img{
    max-width: 30%; 
}

.caja{
    width: 900px;
    background-color: #480E59;
    padding: 40px;
    display: flex;
    border-radius: 70px;
    align-items: center;
    margin-bottom: 7%;
    margin-top: 3%;
}

.texto{
    font-size: xx-large;
    display: flex;
    text-align: center;
    margin-left: 40px;
}

.hover-effect {
    transition: all 0.3s ease;
    font-family: 'Koulen', sans-serif;
}

.hover-effect:hover {
    transform: scale(1.2);
}


